.click,
.dont-click {
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
}

.click {
    background-color: rgb(0, 0, 0);
    color: white;
}

.dont-click {
    background-color: hsl(60, 100%, 50%);
}